@font-face {
  font-family: JosefSans;
  src: url(./font/static/JosefinSans-Light.ttf);
}

:root {
  --bg-color-light: rgb(236, 239, 241);
  --text-color-light: black;
  --bg-color-dark: #333333;
  --text-color-dark: white;

  /* Join button */

  --btn-bg-color-light: white;
  --btn-bg-color-dark: #353434;
  --btn-text-color-light: #0d0d0d;
  --btn-text-color-dark: white;

  /* Option hover colors */
  --bg-hover-dark: rgb(34 87 105);
  --bg-hover-light: rgb(199, 216, 222);

  /* navbar and footer */
  --primary-bg-color-light: rgb(84, 158, 232);
}

* {
  font-family: JosefSans;
}

h3 {
  font-size: 50px;
}
hr {
  font-weight: normal !important;
  height: 0.5px !important;
}
li {
  list-style: none;
}
input {
  /* border: 2px solid grey; */
  color: black;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold !important;
  font-size: large !important;
}

input::placeholder {
  font-size: medium !important;
}
section {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.5s, color 0.5s;
}

.navbar, footer {
  background-color: rgb(84, 158, 232) !important;
}


.card {
  /* border: 1px solid rgb(167, 167, 167) !important; */
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: background-color 0.5s, color 0.5s, transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.question__option {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
}

.question__option:hover {
  background-color: var(--bg-hover-light) !important;
}

.navbar {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px,
    rgb(218, 220, 224) 0px -1px 0px 0px inset; */
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s, color 0.5s;
}

.navbar-brand img {
  width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Wrapper */

.login-wrapper,
.register-wrapper {
  \
  border-radius: 6px !important;
}

/* Login */

.login-container {
  border-radius: 6px !important;
}

.loginImg {
  width: 100%;
  height: 438px;
  object-fit: cover;
  border-radius: 6px !important;
}

/* Register */

.registerImg {
  width: 100%;
  object-fit: cover;
  height: 489px;
}

.successRegister {
  text-shadow: 2px 2px 10px green;
}

/* Pages */

#courseSection {
  padding: 30px !important;
}

#login-page {
  height: 80vh;
}

#quizQuestion,
#resultSection {
  height: 90vh;
}

/* Available course card */

/* .available-course {
  box-shadow: rgba(38, 255, 0, 0.505) 0px 1px 8px 0px;
} */

/* Buttons */

.radio-btn {
  width: 16px !important;
  height: 16px !important;
  margin-right: 6px !important;
}

.back-btn {
  margin-right: 45px;
}

.join-btn {
  background-color: var(--btn-bg-color-light);
  color: var(--btn-text-color-light);
  border: 1px solid #1586dc;
  transition: background-color 0.3s, color 0.5s;
}

.join-btn:hover {
  background-color: #0c6ab2;
  color: var(--text-color-dark);
}

.join-btn:active {
  opacity: 0.8;
}

.allOptions {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* label */

.form-floating > label {
  top: -8px;
}

/* Progress bar css */

.progress-circle {
  font-size: 20px;
  margin: 20px;
  position: relative; /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #F2E9E1; 
  border-radius: 50%;
  line-height: 5em;
}

.progress-circle:after{
   border: none;
   position: absolute;
   top: 0.35em;
   left: 0.35em;
   text-align: center;
   display: block;
   border-radius: 50%;
   width: 4.3em;
   height: 4.3em;
   background-color: white;
   content: " ";
}
/* Text inside the control */
.progress-circle span {
   position: absolute;
   line-height: 5em;
   width: 5em;
   text-align: center;
   display: block;
   color: #151717;
   z-index: 2;
}
.left-half-clipper { 
  /* a round circle */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute; /* needed for clipping */
  clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/ 
}
/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto,auto,auto,auto);
}
.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
  then it is cut to display only the left half, then rotated clockwise
  to escape the outer clipping path.*/ 
  position: absolute; /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 75%;
   /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/ /* for debug */
  box-sizing: border-box;
 
}
/* Progress bar filling the whole right half for values above 50% */
.first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute; /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }

/* Progress bar rotation position */
.progress-circle.p50 .value-bar { transform: rotate(180deg); }
.progress-circle.p51 .value-bar { transform: rotate(184deg); }
.progress-circle.p52 .value-bar { transform: rotate(187deg); }
.progress-circle.p53 .value-bar { transform: rotate(191deg); }
.progress-circle.p54 .value-bar { transform: rotate(194deg); }
.progress-circle.p55 .value-bar { transform: rotate(198deg); }
.progress-circle.p56 .value-bar { transform: rotate(202deg); }
.progress-circle.p57 .value-bar { transform: rotate(205deg); }
.progress-circle.p58 .value-bar { transform: rotate(209deg); }
.progress-circle.p59 .value-bar { transform: rotate(212deg); }
.progress-circle.p60 .value-bar { transform: rotate(216deg); }
.progress-circle.p61 .value-bar { transform: rotate(220deg); }
.progress-circle.p62 .value-bar { transform: rotate(223deg); }
.progress-circle.p63 .value-bar { transform: rotate(227deg); }
.progress-circle.p64 .value-bar { transform: rotate(230deg); }
.progress-circle.p65 .value-bar { transform: rotate(234deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }
.progress-circle.p67 .value-bar { transform: rotate(241deg); }
.progress-circle.p68 .value-bar { transform: rotate(245deg); }
.progress-circle.p69 .value-bar { transform: rotate(248deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p71 .value-bar { transform: rotate(256deg); }
.progress-circle.p72 .value-bar { transform: rotate(259deg); }
.progress-circle.p73 .value-bar { transform: rotate(263deg); }
.progress-circle.p74 .value-bar { transform: rotate(266deg); }
.progress-circle.p75 .value-bar { transform: rotate(270deg); }
.progress-circle.p76 .value-bar { transform: rotate(274deg); }
.progress-circle.p77 .value-bar { transform: rotate(277deg); }
.progress-circle.p78 .value-bar { transform: rotate(281deg); }
.progress-circle.p79 .value-bar { transform: rotate(284deg); }
.progress-circle.p80 .value-bar { transform: rotate(288deg); }
.progress-circle.p81 .value-bar { transform: rotate(292deg); }
.progress-circle.p82 .value-bar { transform: rotate(295deg); }
.progress-circle.p83 .value-bar { transform: rotate(299deg); }
.progress-circle.p84 .value-bar { transform: rotate(302deg); }
.progress-circle.p85 .value-bar { transform: rotate(306deg); }
.progress-circle.p86 .value-bar { transform: rotate(310deg); }
.progress-circle.p87 .value-bar { transform: rotate(313deg); }
.progress-circle.p88 .value-bar { transform: rotate(317deg); }
.progress-circle.p89 .value-bar { transform: rotate(320deg); }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p91 .value-bar { transform: rotate(328deg); }
.progress-circle.p92 .value-bar { transform: rotate(331deg); }
.progress-circle.p93 .value-bar { transform: rotate(335deg); }
.progress-circle.p94 .value-bar { transform: rotate(338deg); }
.progress-circle.p95 .value-bar { transform: rotate(342deg); }
.progress-circle.p96 .value-bar { transform: rotate(346deg); }
.progress-circle.p97 .value-bar { transform: rotate(349deg); }
.progress-circle.p98 .value-bar { transform: rotate(353deg); }
.progress-circle.p99 .value-bar { transform: rotate(356deg); }
.progress-circle.p100 .value-bar { transform: rotate(360deg); }




/* Footer */

footer {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  height: 90px;
  border: none;
  border-bottom: none !important;
  box-shadow: 0 -3px 7px 0px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.5s;
}

footer p {
  margin-top: revert-layer;
}

/* [data-theme="dark"] .navbar {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
} */

[data-theme="dark"] section {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

[data-theme="dark"] .card {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

[data-theme="dark"] .join-btn {
  background-color: var(--btn-bg-color-dark);
  color: var(--btn-text-color-dark);
}

[data-theme='dark'] .join-btn:hover {
    background-color: #0c6ab2;
}

[data-theme="dark"] .question__option:hover {
  background-color: var(--bg-hover-dark) !important;
}

/* [data-theme="dark"] footer {
  background-color: var(--bg-color-dark) !important;
  color: var(--text-color-dark) !important;
} */

/* Media queries */

@media (max-width: 992px) {
  .loginImgContainer,
  .registerImgContainer {
    display: none;
  }

  .login-container,
  .register-container {
    width: 320px;
  }
}
