.progressBar__wrapper {
  width: 100%;
}

#progressContainer {
  width: 60%;
  background-color: rgb(125, 125, 125);
}

#progressBar {
  width: 1%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 24px;
}
